# Ejercicio 1
Obtener la versión de la librería de pandas.

# Ejercicio 2
Crear y visualizar un arreglo unidimensional como una estructura Series.

# Ejercicio 3
Convertir un objeto Series a una lista Python

# Ejercicio 4
Aplicar las operaciones aritméticas basicas sobre objetos Series.

# Ejercicio 5
Usar operadores relacionales para comparar objetos Series.

# Ejercicio 6
Convertir un disccionario Python en un objeto Series.

# Ejercicio 7
Convertir un arreglo Numpy en un objeto Series.

# Ejercicio 8
Cambiar al tipo de datos de un objeto Series.

# Ejercicio 9
Obtener una columna de un objeto DataFrame con un objeto Series.

# Ejercicio 10
Extraer una fila de un DataFrame como un objeto Series.

# Ejercicio 11
Convertir un Objeto Series con Múltiples Listas en un Único Objeto Series

# Ejercicio 12
Ordenar los Valores de un Objeto Series con el Método sort_values

# Ejercicio 13

Agregar Más Datos a un Objeto Series Existente

# Ejercicio 14
Crear un Objeto Series a partir de un Filtro Aplicado a otro Objeto Series

# Ejercicio 15
Cambiar el Orden de los Índices de un Objeto Series

# Ejercicio 16
Calcular la Desviación Estándar y el Promedio de un Objeto Series

# Ejercicio 17
Calcular los Valores Mínimo y Máximo de un Objeto Series

# Ejercicio 18
Obtener Estadísticas Básicas de un Objeto Series con describe

# Ejercicio 19
Obtener los Elementos Pares e Impares de un Objeto Series Numérico

# Ejercicio 20
Extraer los Datos de un Objeto Series como un Objeto NumPy

In [149]:
import pandas as pd
import numpy as np

# Solución I

In [150]:
pd.__version__

'0.24.2'

# Solución II

In [151]:
serie = [1,2,3,4,5,6,7,8,9]
serie = pd.Series(serie)
display(serie)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [152]:
serie.size

9

In [153]:
serie.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

# Solución III

In [154]:
serie = pd.Series(['a','b','c','d','e'])
display(type(serie),serie.dtype)
serie = serie.tolist()
display(type(serie))

pandas.core.series.Series

dtype('O')

list

# Solución IV

In [155]:
serieI = pd.Series([1,2,3,4,5,6,7,8,9,])
serieII = pd.Series([9,8,7,6,5,4,3,2,1])

In [156]:
serieI + serieII

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
dtype: int64

In [157]:
serieI - serieII

0   -8
1   -6
2   -4
3   -2
4    0
5    2
6    4
7    6
8    8
dtype: int64

In [158]:
serieI * serieII

0     9
1    16
2    21
3    24
4    25
5    24
6    21
7    16
8     9
dtype: int64

In [159]:
serieI / serieII

0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
5    1.500000
6    2.333333
7    4.000000
8    9.000000
dtype: float64

# Solución V

In [160]:
serieI = pd.Series([1,2,3,4,5,6,7,8,9])
serieII = pd.Series([9,8,7,6,5,4,3,2,1])
serieI > serieII

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [161]:
serieI < serieII

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [162]:
serieI == serieII

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool

# Solución VI

In [163]:
dic = {"Steven":24,"Camilo":22,'Valentina':22}
serie = pd.Series(dic)
serie

Steven       24
Camilo       22
Valentina    22
dtype: int64

In [164]:
serie['Steven']

24

# Solución VII

In [165]:
serie = np.array([1,2,3,4,5,6,7,8,9])
serie = pd.Series(serie)
serie

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

# Solución VIII

In [166]:
serie = pd.Series(['1','2','3','Valentina','8.5'])
serie

0            1
1            2
2            3
3    Valentina
4          8.5
dtype: object

In [167]:
serie = pd.to_numeric(serie,errors="coerce")
serie

0    1.0
1    2.0
2    3.0
3    NaN
4    8.5
dtype: float64

# Solución IX

In [168]:
dic = {'Oro':['Jerry','Correcaminos','bugs bunny'], 'Plata':['Tom','Coyote','Lucas'],'Bronce':['Spike','Marvin','Elmer Gruñon']}
dic

{'Oro': ['Jerry', 'Correcaminos', 'bugs bunny'],
 'Plata': ['Tom', 'Coyote', 'Lucas'],
 'Bronce': ['Spike', 'Marvin', 'Elmer Gruñon']}

In [169]:
dic = pd.DataFrame(dic)
dic

            Oro   Plata        Bronce
0         Jerry     Tom         Spike
1  Correcaminos  Coyote        Marvin
2    bugs bunny   Lucas  Elmer Gruñon

In [170]:
dic[['Oro']]

            Oro
0         Jerry
1  Correcaminos
2    bugs bunny

In [171]:
serie = pd.Series(dic['Oro'])
serie

0           Jerry
1    Correcaminos
2      bugs bunny
Name: Oro, dtype: object

# Solución X

In [172]:
dic.iloc[2:]

          Oro  Plata        Bronce
2  bugs bunny  Lucas  Elmer Gruñon

# Solución XI

In [173]:
data = [['Amarillo','Azul','Rojo'],['Verde','Naranja','Violeta'],['Blanco','Gris','Negro']]
data = pd.Series(data)
data

0       [Amarillo, Azul, Rojo]
1    [Verde, Naranja, Violeta]
2        [Blanco, Gris, Negro]
dtype: object

In [174]:
data = data.apply(pd.Series).stack().reset_index(drop=True)
data

0    Amarillo
1        Azul
2        Rojo
3       Verde
4     Naranja
5     Violeta
6      Blanco
7        Gris
8       Negro
dtype: object

In [175]:
type(data)

pandas.core.series.Series

# Solución XII

In [176]:
serieA = pd.Series([7,5,1,2,4,3])
serieB = pd.Series(['Violeta','4.5','8','Justin','0'])
print(serieA.sort_values())
print(serieB.sort_values())

2    1
3    2
5    3
4    4
1    5
0    7
dtype: int64
4          0
1        4.5
2          8
3     Justin
0    Violeta
dtype: object

# Solución XIII

In [177]:
serieA = pd.Series(['Colombia','Argentina','Polonia','Japon','Egipto','Australia']) 
serieA

0     Colombia
1    Argentina
2      Polonia
3        Japon
4       Egipto
5    Australia
dtype: object

In [178]:
serie = serieA.append(pd.Series(['Mexico','Francia']))
serie

0     Colombia
1    Argentina
2      Polonia
3        Japon
4       Egipto
5    Australia
0       Mexico
1      Francia
dtype: object

In [179]:
serie[0]

0    Colombia
0      Mexico
dtype: object

In [180]:
serie = serie.apply(pd.Series).stack().reset_index(drop=True)
serie

0     Colombia
1    Argentina
2      Polonia
3        Japon
4       Egipto
5    Australia
6       Mexico
7      Francia
dtype: object

In [181]:
serie[0]

'Colombia'

# Solución XIV

In [182]:
dataA = [7,8,9,10,11,12,13]
dataA = pd.Series(dataA)
dataA

0     7
1     8
2     9
3    10
4    11
5    12
6    13
dtype: int64

In [183]:
dataB =  dataA[dataA<11]
dataB

0     7
1     8
2     9
3    10
dtype: int64

# Solución XV

In [184]:
dataA = [7,1,2,3,5,4,6,9,8]
dataI = ['B','C','A','D','F','G','E','H','I']
serie = pd.Series(data = dataA,index=dataI)
serie

B    7
C    1
A    2
D    3
F    5
G    4
E    6
H    9
I    8
dtype: int64

In [185]:
serie = serie.reindex(['A','B','C','D','E','F','G','H','I'])
serie

A    2
B    7
C    1
D    3
E    6
F    5
G    4
H    9
I    8
dtype: int64

# Solución XVI

In [186]:
dataA = np.array([9,1,2,3,4,5,6,7,8])
serieA = pd.Series(dataA)
serieA

0    9
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int32

In [187]:
#Desviación Estandar
serieA.std()

2.7386127875258306

In [188]:
#Promedio
serieA.mean()

5.0

# Solución XVII

In [189]:
#Calcular el minimo
serieA.min()

1

In [190]:
#Calcular el max
serieA.max()

9

# Solución XVIII

In [191]:
data = list(range(100))
serie = pd.Series(data)
serie.describe()

count    100.000000
mean      49.500000
std       29.011492
min        0.000000
25%       24.750000
50%       49.500000
75%       74.250000
max       99.000000
dtype: float64

# Solución XIX

In [192]:
data = list(range(10,50))
serie = pd.Series(data)
serie.tail()

35    45
36    46
37    47
38    48
39    49
dtype: int64

In [193]:
# Identificar los numeros pares
serieA = serie[serie % 2 == 0]
serieA

0     10
2     12
4     14
6     16
8     18
10    20
12    22
14    24
16    26
18    28
20    30
22    32
24    34
26    36
28    38
30    40
32    42
34    44
36    46
38    48
dtype: int64

In [194]:
#Identificar numeros impares
serieB = serie[serie % 2 !=0]
serieB

1     11
3     13
5     15
7     17
9     19
11    21
13    23
15    25
17    27
19    29
21    31
23    33
25    35
27    37
29    39
31    41
33    43
35    45
37    47
39    49
dtype: int64

# Solución XX

In [195]:
serie = pd.Series([1,2,3,4,5])
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [196]:
arregloNumpy = serie.values
display(arregloNumpy, type(arregloNumpy))

array([1, 2, 3, 4, 5], dtype=int64)

numpy.ndarray