# Ejercicio 21
Comprobar si una Serie contiene Valores NaN con hasnans

# Ejercicio 22
Obtener el Tamaño en Bytes de los Elementos de un Objeto Series

# Ejercicio 23
Usar los métods add, subtract, multiply y divide de la clase Series

# Ejercicio 24
Eliminar los Valores NaN de una Serie con el Método dropna

# Ejercicio 25
 Calcular el Valor Absoluto de los Elementos de un Objeto Series

# Ejercicio 26
Usar la Función agg de un objeto Series

# Ejercicio 27
Reemplazar los Valores NaN (null) de una Serie con un Valor Arbitrario

# Ejercicio 28
Usar Operadores Relacionales con Métodos de la clase Series

# Ejercicio 29
Obtener los Primeros y Últimos n Elementos de un Objeto Series

# Ejercicio 30

# Ejercicio 31

# Ejercicio 32

# Ejercicio 33

# Ejercicio 34

# Ejercicio 35

# Ejercicio 36

# Ejercicio 37

# Ejercicio 38

# Ejercicio 39

# Ejercicio 40

In [101]:
import pandas as pd
import numpy as np

# Solución XXI

In [102]:
serie = pd.Series(['1','C++',7,'Julia','1.5'])
serie = pd.to_numeric(serie,errors='coerse')
serie

0    1.0
1    NaN
2    7.0
3    NaN
4    1.5
dtype: float64

In [103]:
serie.hasnans

True

# Solución XXII

In [104]:
data = np.arange(10)
serie = pd.Series(data)
serie.nbytes

40

# Solución XXIII

In [105]:
dataA = np.arange(1,11)
serieA = pd.Series(dataA)
dataB = np.arange(10,0,-1)
serieB = pd.Series(dataB)

In [106]:
serieA.add(serieB)

0    11
1    11
2    11
3    11
4    11
5    11
6    11
7    11
8    11
9    11
dtype: int32

In [107]:
serieA.subtract(serieB)

0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int32

In [108]:
serieA.multiply(serieB)

0    10
1    18
2    24
3    28
4    30
5    30
6    28
7    24
8    18
9    10
dtype: int32

In [109]:
serieB.divide(serieA)

0    10.000000
1     4.500000
2     2.666667
3     1.750000
4     1.200000
5     0.833333
6     0.571429
7     0.375000
8     0.222222
9     0.100000
dtype: float64

# Solución XXIV

In [110]:
data = pd.Series(['E','2','4','C',np.nan,'S'])
data = pd.to_numeric(data,errors="coerce")
data

0    NaN
1    2.0
2    4.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [111]:
data = data.dropna()
data

1    2.0
2    4.0
dtype: float64

# Solución XXV

In [112]:
serie = pd.Series([-3,-2,-1,0,1,2,3])
serie

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [113]:
serie = serie.abs()
serie

0    3
1    2
2    1
3    0
4    1
5    2
6    3
dtype: int64

# Solución XXVI

In [114]:
data = np.array([-9,-5,0,4,6,5])
serie = pd.Series(data)
display(serie.agg(max),serie.agg(min),serie.agg(abs))

6

-9

0    9
1    5
2    0
3    4
4    6
5    5
dtype: int64

In [115]:
serie.agg(abs).agg(np.sqrt)

0    3.000000
1    2.236068
2    0.000000
3    2.000000
4    2.449490
5    2.236068
dtype: float64

In [116]:
serie.agg(abs).agg(hex)

0    0x9
1    0x5
2    0x0
3    0x4
4    0x6
5    0x5
dtype: object

In [117]:
def cuadrado(x):
    return x*x
serie.agg(cuadrado)

0    81
1    25
2     0
3    16
4    36
5    25
dtype: int64

In [118]:
serie.agg(lambda x: x**3)

0   -729
1   -125
2      0
3     64
4    216
5    125
dtype: int64

In [119]:
serie.agg(np.sin)

0   -0.412118
1    0.958924
2    0.000000
3   -0.756802
4   -0.279415
5   -0.958924
dtype: float64

In [120]:
serie.agg(np.cbrt)

0   -2.080084
1   -1.709976
2    0.000000
3    1.587401
4    1.817121
5    1.709976
dtype: float64

In [121]:
serie.agg(np.sum)

1

# Solución XXVII

In [122]:
serie = pd.Series([np.nan,'4','Pumba',8,4.5,'Timon','Simba'])
serie = pd.to_numeric(serie,errors='cource')
serie

0    NaN
1    4.0
2    NaN
3    8.0
4    4.5
5    NaN
6    NaN
dtype: float64

In [123]:
serie.fillna(0,inplace=True)

In [124]:
serie

0    0.0
1    4.0
2    0.0
3    8.0
4    4.5
5    0.0
6    0.0
dtype: float64

# Solución XXVIII

In [125]:
serieA = pd.Series([1,2,3,4,5,6,7,8,9])
serieB = pd.Series([9,8,7,6,5,4,3,2,1])
# <
serieA.lt(serieB)

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [126]:
# <=
serieA.le(serieB)

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
dtype: bool

In [127]:
==
serieA.eq(serieB)

SyntaxError: invalid syntax (<ipython-input-127-9382344098bc>, line 1)

In [ ]:
# >=
serieA.ge(serieB)

In [ ]:
#>
serieA.gt(serieB)

In [ ]:
serieA.gt(serieB)

# Solución XXIX

# Solución XXX

# Solución XXXI

# Solución XXXII

# Solución XXXIII

# Solución XXXIV

# Solución XXXV

# Solución XXXVI

# Solución XXXVII

# Solución XXXVIII

# Solución XXXIX

# Solución XXXX