# Ejercicio 1
Obtener la versión de la librería de pandas.

# Ejercicio 2
Crear y visualizar un arreglo unidimensional como una estructura Series.

# Ejercicio 3
Convertir un objeto Series a una lista Python

# Ejercicio 4
Aplicar las operaciones aritméticas basicas sobre objetos Series.

# Ejercicio 5
Usar operadores relacionales para comparar objetos Series.

# Ejercicio 6
Convertir un disccionario Python en un objeto Series.

# Ejercicio 7
Convertir un arreglo Numpy en un objeto Series.

# Ejercicio 8
Cambiar al tipo de datos de un objeto Series.

# Ejercicio 9
Obtener una columna de un objeto DataFrame con un objeto Series.

# Ejercicio 10
Extraer una fila de un DataFrame como un objeto Series.

# Ejercicio 11
Convertir un Objeto Series con Múltiples Listas en un Único Objeto Series

# Ejercicio 12
Ordenar los Valores de un Objeto Series con el Método sort_values

# Ejercicio 13

Agregar Más Datos a un Objeto Series Existente

In [2]:
import pandas as pd
import numpy as np

# Solución I

In [3]:
pd.__version__

'0.24.2'

# Solución II

In [4]:
serie = [1,2,3,4,5,6,7,8,9]
serie = pd.Series(serie)
display(serie)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
serie.size

9

In [6]:
serie.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

# Solución III

In [7]:
serie = pd.Series(['a','b','c','d','e'])
display(type(serie),serie.dtype)
serie = serie.tolist()
display(type(serie))

pandas.core.series.Series

dtype('O')

list

# Solución IV

In [8]:
serieI = pd.Series([1,2,3,4,5,6,7,8,9,])
serieII = pd.Series([9,8,7,6,5,4,3,2,1])

In [9]:
serieI + serieII

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
dtype: int64

In [10]:
serieI - serieII

0   -8
1   -6
2   -4
3   -2
4    0
5    2
6    4
7    6
8    8
dtype: int64

In [11]:
serieI * serieII

0     9
1    16
2    21
3    24
4    25
5    24
6    21
7    16
8     9
dtype: int64

In [12]:
serieI / serieII

0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
5    1.500000
6    2.333333
7    4.000000
8    9.000000
dtype: float64

# Solución V

In [13]:
serieI = pd.Series([1,2,3,4,5,6,7,8,9])
serieII = pd.Series([9,8,7,6,5,4,3,2,1])
serieI > serieII

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [14]:
serieI < serieII

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [15]:
serieI == serieII

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool

# Solución VI

In [16]:
dic = {"Steven":24,"Camilo":22,'Valentina':22}
serie = pd.Series(dic)
serie

Steven       24
Camilo       22
Valentina    22
dtype: int64

In [17]:
serie['Steven']

24

# Solución VII

In [18]:
serie = np.array([1,2,3,4,5,6,7,8,9])
serie = pd.Series(serie)
serie

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

# Solución VIII

In [19]:
serie = pd.Series(['1','2','3','Valentina','8.5'])
serie

0            1
1            2
2            3
3    Valentina
4          8.5
dtype: object

In [20]:
serie = pd.to_numeric(serie,errors="coerce")
serie

0    1.0
1    2.0
2    3.0
3    NaN
4    8.5
dtype: float64

# Solución IX

In [50]:
dic = {'Oro':['Jerry','Correcaminos','bugs bunny'], 'Plata':['Tom','Coyote','Lucas'],'Bronce':['Spike','Marvin','Elmer Gruñon']}
dic

{'Oro': ['Jerry', 'Correcaminos', 'bugs bunny'],
 'Plata': ['Tom', 'Coyote', 'Lucas'],
 'Bronce': ['Spike', 'Marvin', 'Elmer Gruñon']}

In [51]:
dic = pd.DataFrame(dic)
dic

            Oro   Plata        Bronce
0         Jerry     Tom         Spike
1  Correcaminos  Coyote        Marvin
2    bugs bunny   Lucas  Elmer Gruñon

In [56]:
dic[['Oro']]

            Oro
0         Jerry
1  Correcaminos
2    bugs bunny

In [55]:
serie = pd.Series(dic['Oro'])
serie

0           Jerry
1    Correcaminos
2      bugs bunny
Name: Oro, dtype: object

# Solución X

In [67]:
dic.iloc[2:]

          Oro  Plata        Bronce
2  bugs bunny  Lucas  Elmer Gruñon

# Solución XI

In [84]:
data = [['Amarillo','Azul','Rojo'],['Verde','Naranja','Violeta'],['Blanco','Gris','Negro']]
data = pd.Series(data)
data

0       [Amarillo, Azul, Rojo]
1    [Verde, Naranja, Violeta]
2        [Blanco, Gris, Negro]
dtype: object

In [86]:
data = data.apply(pd.Series).stack().reset_index(drop=True)
data

0    Amarillo
1        Azul
2        Rojo
3       Verde
4     Naranja
5     Violeta
6      Blanco
7        Gris
8       Negro
dtype: object

In [87]:
type(data)

pandas.core.series.Series

# Solución XII

In [103]:
serieA = pd.Series([7,5,1,2,4,3])
serieB = pd.Series(['Violeta','4.5','8','Justin','0'])
print(serieA.sort_values())
print(serieB.sort_values())

2    1
3    2
5    3
4    4
1    5
0    7
dtype: int64
4          0
1        4.5
2          8
3     Justin
0    Violeta
dtype: object

# Solución XIII

In [106]:
serieA = pd.Series(['Colombia','Argentina','Polonia','Japon','Egipto','Australia']) 
serieA

0     Colombia
1    Argentina
2      Polonia
3        Japon
4       Egipto
5    Australia
dtype: object

In [108]:
serie = serieA.append(pd.Series(['Mexico','Francia']))
serie

0     Colombia
1    Argentina
2      Polonia
3        Japon
4       Egipto
5    Australia
0       Mexico
1      Francia
dtype: object

In [109]:
serie[0]

0    Colombia
0      Mexico
dtype: object

In [111]:
serie = serie.apply(pd.Series).stack().reset_index(drop=True)
serie

0     Colombia
1    Argentina
2      Polonia
3        Japon
4       Egipto
5    Australia
6       Mexico
7      Francia
dtype: object

In [112]:
serie[0]

'Colombia'

# Solución XIV

# Solución XV

# Solución XVI

# Solución XVII

# Solución XVIII

# Solución XIX

# Solución XX